.env
.node_modules
node_modules
teste.js
images
.images
.teste.js
exemplo.html
exemplo.html
chrome122.deb
.chrome122.deb
.whatsjud-654b40b987eb.json
whatsjud-654b40b987eb.json

ec2-user@ec2-18-218-133-219.us-east-2.compute.amazonaws.com
ec2-user@ec2-18-224-70-117.us-east-2.compute.amazonaws.com